
.sf2v {
    font-family: 'Archivo Black', sans-serif;
    padding-right:15px;
    font-size:18px;
    font-weight: lighter;
    background-color: white;
    color: #0405E2;
}
.sf2v:hover{
    color: #413257;
}