.container-fluid
    .container
        .header
            img(class='header-logo'  src='img/250.png')
            .title
                p(class='logo-style') CФЕРА-
                    span  2В
                a(href='mailto:info@sfera-2v.ru' target="_blank" class='header-mail') info@sfera-2v.ru



    
        