.container
    .main-area
        h4
            | Продажа подщипников
            br
            | ремней и сальников:
    .menu-list
        p -Любая форма оплаты
        p -Доставка и самовывоз
        a(href='#' class="") возможна срочная доставка в день заказа
        p -Импортные отечественные
        a(href='#' class="") в наличии на складе более 12 000 наименований, редкие позиции под заказ

            
            
           
