<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        meta(name="format-detection" content="telephone=no")
        title Hi!
        link(rel="stylesheet" href="css/styles.css")
        link(href="https://fonts.googleapis.com/css?family=Archivo+Black|DM+Serif+Text|Rubik+Mono+One|Russo+One&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Archivo+Black|DM+Serif+Text|Rubik+Mono+One|Russo+One|Yeseva+One&display=swap" rel="stylesheet")
    body
        include ../modules/header
        include ../modules/main
        include ../modules/footer